# Step I - Import Libraries and get the list of all equity derivatives

In [1]:
import numpy as np
import pandas as pd
import datetime as dt
import pandas_datareader.data as pdr
import talib as ta
import math

C:\Users\akshay\anaconda3\envs\algo\lib\site-packages\pandas_datareader\compat\__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

In [2]:
stocks = pd.read_csv('NSE_derivatives_stocks.csv',encoding= 'unicode_escape')

In [3]:
ticker = stocks['ticker']

In [4]:
ticker = [item+'.NS' for item in ticker]

# Step II - Fetch data from Yahoo Finance API

In [5]:
start = dt.datetime.today() - dt.timedelta(360)
end = dt.datetime.today()

In [6]:
data = pdr.get_data_yahoo(ticker,start,end)

In [7]:
data_close = data['Adj Close']
price = data_close.copy()

In [8]:
price_pct = price.pct_change(1)

# Step III - Apply the scans

# 1. Price Change > 3%

In [9]:
scanned_stocks = []

In [10]:
for i in ticker:
    if price_pct[i][-1] > 0.03:
        scanned_stocks.append(i)

# 2. Price > 200 SMA and RSI(2) > 50

In [11]:
final_stocks = []

In [12]:
for i in scanned_stocks:
    if (ta.SMA(price[i],200)[-1] < price[i][-1]) & (ta.RSI(price[i],2)[-1] > 50):
        final_stocks.append(i)

In [13]:
cp_stocks = price[final_stocks].iloc[-1].round(1)

# Step IV - Find the Entry, Stop loss and Target price

In [14]:
entry_price = (cp_stocks*1.01).round(1)
entry_price = pd.DataFrame(entry_price)
sl_price = (entry_price* 1.03).round(1)
tgt_price = (entry_price* 0.94).round(1)

In [15]:
order_df = pd.concat([entry_price,sl_price,tgt_price],axis =1,ignore_index = True)

In [16]:
order_df.rename(columns = {0:'Entry_Price', 1:'Stop_Loss', 2:'Target'},inplace = True)

In [17]:
order_df

             Entry_Price  Stop_Loss  Target
Symbols
CIPLA.NS           645.7      665.1   607.0
ESCORTS.NS         918.8      946.4   863.7
JUBLFOOD.NS       1636.5     1685.6  1538.3
NIITTECH.NS       1522.2     1567.9  1430.9

# Step V - Position Sizing

In [18]:
trading_capital = 10000        #Enter the trading capital

In [19]:
max_cap = trading_capital/order_df.shape[0]

In [20]:
order_df['Qty'] = np.floor(max_cap/order_df['Entry_Price'])

In [21]:
order_df['Max_Loss'] = order_df['Qty']*(order_df['Stop_Loss'] - order_df['Entry_Price'])

In [22]:
order_df['Max_Profit'] = order_df['Qty']*(order_df['Entry_Price'] - order_df['Target'])

In [23]:
order_df.loc['Total_Max_Loss','Max_Loss'] = order_df['Max_Loss'].sum()

In [24]:
order_df.loc['Total_Max_Profit','Max_Profit'] = order_df['Max_Profit'].sum()

In [25]:
order_df = order_df.replace(np.nan,'',regex = True)

In [26]:
order_df

                 Entry_Price Stop_Loss  Target Qty Max_Loss Max_Profit
Symbols
CIPLA.NS               645.7     665.1     607   3     58.2      116.1
ESCORTS.NS             918.8     946.4   863.7   2     55.2      110.2
JUBLFOOD.NS           1636.5    1685.6  1538.3   1     49.1       98.2
NIITTECH.NS           1522.2    1567.9  1430.9   1     45.7       91.3
Total_Max_Loss                                        208.2
Total_Max_Profit                                                 415.8

In [27]:
order_df.to_csv('trade-data/2020-05-25.csv')